a {
  color: #496573;
  font-weight: 500;
  text-decoration: none;
}

a .svg-inline--fa {
  margin-right: .25rem;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-image: url('../images/grass.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  border-radius: 2em;
  border: 2px solid #496573;
  background-color: transparent;
  color: #fff;
}

.btn:hover {
  background-color: #496573;
}

.container {
  padding: 0 1rem;
}

.header {
  width: 100%;
  z-index: 2000;
  background-color: rgba(255,255,255,.7);
  box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .brand {
  flex: 1;
  margin-right: 1rem;
  vertical-align: middle;
}

.header .brand a {
  display: inline;
}

.header .brand img {
  height: 3rem;
  margin-left: 0;
}

.header .nav a {
  margin-left: 1rem;
}

.header .nav a:hover {
  border-bottom: 2px solid #496573;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  padding: 1rem 0 3rem;
  background-color: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
}

.content .lightbox {
  text-align: center;
  font-size: 1.5em;
  padding: 2rem 1rem;
}

.content .featured-images {
  justify-content: center;
}

.content .featured-images .featured-image {
  position: relative;
  margin: 1rem 0 0;
}

.content .featured-images .featured-image::before {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2000;
  opacity: 0;
  background-color: rgba(0,0,0,.9);
}

.content .featured-images .featured-image .open-featured-image,
.content .featured-images .featured-image .close-featured-image {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}

.content .featured-images .featured-image .close-featured-image {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  margin: 1rem;
}

.content .featured-images .featured-image img {
  margin: 0;
  border-radius: .25rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.content .featured-images .featured-image figcaption {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
}

.content .featured-images .featured-image .description {
  flex: 1;
  vertical-align: middle;
}

.content .featured-images .featured-image:target::before {
  display: block;
  opacity: 1;
}

.content .featured-images .featured-image:target .open-featured-image {
  display: none;
  opacity: 0;
}

.content .featured-images .featured-image:target .close-featured-image {
  display: block;
  opacity: 1;
  z-index: 2000;
}

.content .featured-images .featured-image:target img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: initial;
  max-width: calc(100% - 2rem);
  height: auto;
  z-index: 2000;
}

.contribute {
  padding: 3rem 0;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
  text-align: center;
}
